$mainColor: #00985f;
$darknessColor: #1dc084;


.view-bar {
  // padding: 10px 0;

  .delete-icon {
    position: absolute;
    right: 0;
    width: 70px;
    z-index: 1;
    height: 100%;
    top: calc(50% - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .elem-list {
    position: relative;
    color: white;
    text-align: left;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 46px;
    margin: 10px 0 0 0;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: 'Roboto';
    background-color: $darknessColor;
  }

  @media all and (max-width: 700px) {
      &:not(:empty) {
        max-height: 120px;
        overflow-y: auto;
        background-color: #088557;
      }
  }
}